
    <div class="container mt-3">
          <div class="row">
            <div class="col text-center">
                <!-- supaya kita bisa mengakses asset atau file2 statis seperti gambar, file css maka harus ada folder public, menggunakan middleware static-->
                <img src="img/salman.jpg" class="img-thumbnail rounded-circle" width="200">
                <h1 class="display-4">Salman Alfarisi</h1>
                <p class="lead">Programmer</p>
            </div>
          </div>
    </div>