
    <h1>NodeJS Web Server</h1>
    <h2>Halo, <%= nama %></h2> 
    
    <H4>Daftar Mahasiswa</H4>
    <% if (mahasiswa.length < 1) { %>
        <p>Data mahasiswa masih kosong</p>
    <% } else {%>
        <% mahasiswa.forEach(data => { %>
            <ul>
                <li>Nama : <%= data.nama %></li>
                <li>Asal : <%= data.asal %></li>
            </ul>
            
        <% }) %>
        <% } %>
     